.product-list {
  transform: translateY(calc(var(--spacing) * -1));
}

@media (width > 680px) {
  .product-list {
    transform: translateY(calc(var(--spacing) * -10));
  }
}

.product-card-content {
  background-color: var(--clr-white);
}

.product-card img {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.product-card-price {
  letter-spacing: -1px;
}

.discounted-price {
  text-decoration: line-through;
}
