@media (width <= 680px) {
  .featured-image {
    transform-origin: 50% 0%;
    scale: 2;
  }
}

.banner-images {
  overflow: hidden;
}

.banner-images-buttons {
  position: absolute;
  right: 8px;
  top: 8px;
  transform: translate(0, -0%);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.banner-images-button {
  width: clamp(15px, 3vw, 18px);
  height: clamp(15px, 3vw, 18px);
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--clr-light-gray);
}

.banner-images-button.active {
  background-color: var(--clr-light-gray-500);
}
